.shop-container{
    position: relative;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-top: 4rem;
    top: 80px;
}
.shop-container .products{
    padding: 0 4rem;
}
.shop-container .cart-container{
    padding: 0 1rem;
}
.products{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 20px;
}
.cart-container{
    position: fixed;
    right: 0;
    top: 80px;
    width: 20%;
    height: 80vh;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    background-color: #FFE0B3;
}
.cart-container h1{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #1c2b1c;
    text-align: center;
}